body{
    margin-top:20px;
    background:#f5f7fa;
}
.panel.panel-default {
    border-top-width: 3px;
}
.panel {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);
    border: 0;
    border-radius: 4px;
    margin-bottom: 16px;
}
.thumb150px {
    width: 250px!important;
    height: 200px!important;
}
.thumb48 {
    width: 48px!important;
    height: 48px!important;
}


.login-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 10px;
    grid-template-rows: minmax(60px, auto);
    max-width: 960px;
    margin: 0 auto;
}

.login-text{
    grid-column: 2/3;
    justify-self: center;
}

.login-form{
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
    border: none;
    font-size: 20px;
    padding: 8px 10px;
    width: 100%;
    margin: 5px auto;
    
}

.pass-form{
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: center;
    
}



.btn-log input{
    border-radius: 6px;
    text-align: center;
    padding: 6px 125px;
    border: none;
    color:#fff;
    background-color: black;
    
}

.create-pass{
    grid-column: 2/3;
    grid-row: 4/5;
    justify-self: center;
    
    
}

.create-pass a{
    text-decoration: none;
    color: #582012;
}


#registration_form_username{
    border-radius: 6px;
    
    padding: 6px;
    width: 320px;
    border:1px rgb(221, 217, 217) solid ;
   
}
#registration_form_plainPassword{
    border-radius: 6px;
    
    padding: 6px;
    width: 320px;
    border:1px rgb(221, 217, 217) solid ;
   
}